:root{
    --border-color: #333;
    --endgame-bg: rgba(205, 133, 63, 0.8);
    --endgame-color: white;
    --table-color: #2090f6;
    --td-color-hover: #40587c;
    --td-color: #8cc4ec;
    --bg-color: #0f4d83;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-collapse: separate;
    border-spacing: 20px;
    background-color: var(--table-color);
    border-radius: 16px;
}
td {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    cursor: pointer;
    border-radius: 16px;
    transition: .3s;
    background-color: var(--td-color);
}
td:hover {
    background-color: var(--td-color-hover);
}
.endgame {
    display: none;
    width: 200px;
    top: 30%;
    background-color: var(--endgame-bg);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 24px;
    color: var(--endgame-color);
    font-size: 2rem;
}
table, .play {
    width: fit-content
}
.play {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #a881af;
    cursor: pointer;
    transition: .3s;
}
.play:hover {
    background-color: #5dbea3;
}