:root{
  --bg-color: #01072b;
  --input-color: #02113e;
  --text-color: white;
  --border-color: #40587c;
  --button-text-color: rgb(131, 217, 136);
  --thumb-color: #fefeff;
  --track-color: #0959bb;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  background-color: var(--bg-color);
  color:var(--text-color);
  font-family: sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.generate {
  max-width: 700px;
  text-align: left;
  margin: 12px auto;
}
.form {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto
}
.password, .text, .settings {
  font-size: 14px;
  color: var(--border-color)
}
.option {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 15px 0;
  font-size: 20px;
}
#length-input {
  flex-direction: column;
}
#min-max {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 18px;
  margin: 10px 0;
}
#input-length {
  width: 70%;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: auto 0;
  background-color: var(--track-color);
}
#input-length:hover {
  opacity: 1;
}
#input-length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--thumb-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.text {
  display: flex;
  gap: 8px;
}
.option input {
  margin-right: 10px;
  display: flex;
}
#password:disabled {
  cursor: not-allowed;
  border: none;
  padding: 10px 40px;
  margin: 10px 0;
  font-size: 26px;
  font-weight: 900;
  width: 100%;
  color: var(--text-color)
}
#button-copy, #generate-button {
  background-image: linear-gradient(to bottom, #1a76f5, #226bf4, #2f60f2, #3d53ef, #4b45ea);
  color: var(--text-color);
  font-size: 12px;
  padding: 16px 0;
  border-radius: 8px;
  margin: 8px 0;
  opacity: 0.6;
  transition: .2s;
  width: 100%;
}
#button-copy:hover, #generate-button:hover {
  cursor: pointer;
  opacity: 1;
}
#button-copy:disabled {
  cursor: not-allowed;
}
#min-max, #password:disabled, .check {
  background-color: var(--input-color);
  border-radius: 8px;
}
.check {
  padding: 15px;
  margin: 10px 0;
}
